body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 230px;
  height: 100vh;
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(10px);
  padding: 20px;
  transition: 0.3s;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px;
  margin: 6px 0;
  background: rgba(51,65,85,0.6);
  border-radius: 8px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #38bdf8;
  color: black;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

.menu-btn {
  background: #38bdf8;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}

.card {
  padding: 30px;
  background: rgba(30,41,59,0.7);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: #38bdf8;
  color: black;
}

/* Pages */
.page {
  display: none;
}

.page.active {
  display: block;
}

/* Chat */
#chatbox {
  height: 300px;
  overflow-y: auto;
  background: #1e293b;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
